input:focus, select:focus {
    border: 1px solid #565656;
}
/********** 分配参会人员 **********/

/********** 分配详细内容 **********/
.allot-content {
    overflow: hidden;
}
.allot-detail {
    width: calc(100% - 250px);
    width: -wekit-calc(100% - 250px);
    width: -moz-calc(100% - 250px);
}
.order-title-box {
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    margin-bottom: 20px;
}
.order-title-box > .container,
.allot-info > .container {
    width: 97%;
}
.allot-info {
    height: 65px;
    background-color: #fff;
}
.allot-info > .container {
    overflow: visible;
}
.allot-desc {
    position: relative;
    font-size: 16px;
    height: 20px;
    line-height: 20px;
    margin: 22px 30px 0 0;
}
.ticket-count {
    color: #E54144;
}
.privilege {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 15px;
    height: 15px;
    line-height: 15px;
    background-color: #CFD7E7;
    font-size: 12px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    cursor: pointer;
    margin-top: -5px;
}
.privilege-text {
    position: absolute;
    top: -52px;
    left: -125px;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    margin-top: 22px;
    background-color: #EEEEEE;
    color: #181818;
    padding: 0 10px;
    border-radius: 2px;
    white-space: nowrap;
    display: none;
}
.privilege-text::after {
    position: absolute;
    top: 20px;
    left: 50%;
    content: "";
    border: 7px solid transparent;
    border-top-color: #EEEEEE;
}
.privilege:hover .privilege-text {
    display: inline-block;
}

/********** 已分配信息列表 **********/
.allot-list {
    background-color: #fff;
}
.allot-title-bg {
    width: 97%;
    height: 40px;
    margin: 0 auto;
    background-color: #EEEEEE;
}
.allot-item {
    margin-top: -40px;
}
#alloted {
    padding-bottom: 30px;
}
.allot-item > .container {
    width: 95%;
}
.allot-title {
    height: 40px;
    line-height: 40px;
}
.alloted {
    margin: 20px 0 30px;
}
.alloted:not(:last-child) {
    padding-bottom: 30px;
    border-bottom: 1px solid #EDEDEE;
}
.alloted-item {
    height: 25px;
    line-height: 25px;
    margin: 5px 0;
    font-size: 14px;
    overflow: hidden;
}
.alloted-item:last-child {
    height: 30px;
    line-height: 30px;
}
.alloted-item .divide {
    display: inline-block;
    vertical-align: middle;
    height: 15px;
    border-left: 1px solid #CDCDCD;
    margin: 0 10px;
}
.changeAllotBtn {
    width: 70px;
    height: 30px;
    line-height: 30px;
    background-color: #113689;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
}

/********** 未分配 **********/
.allot-subtips {
    box-sizing: border-box;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: #858585;
    margin: 20px 0 30px;
    padding-left: 30px;
    background: url(img/question.png) left center no-repeat;
}
.addallot-form {
    width: 95%;
    margin: 0 auto;
}
.addallot-form:not(:nth-last-of-type(1)) {
    border-bottom: 1px solid #dedede;
    margin-bottom: 55px;
    padding-bottom: 20px;
}
.form-group {
    overflow: hidden;
    margin-bottom: 15px;
}
.form-item {
    width: 45%;
    height: 65px;
}
.allot-input, .allot-select {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #D3D3D3;
    background-color: #F8F8F8;
    color: #565656;
    border-radius: 2px;
}
.form-tips {
    height: 20px;
    line-height: 20px;
    margin-top: 5px;
    font-size: 12px;
    color: red;
    display: none;
}
.btn-group {
    text-align: right;
    margin-bottom: 50px;
}
.add-another, .submit-allot {
    box-sizing: border-box;
    width: 180px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    border-radius: 2px;
    cursor: pointer;
    background-color: #113689;
    color: #fff;
}
.submit-allot {
    width: 150px;
    margin-right: 20px;    
}
.add-another {
    background-color: #fff;
    border: 1px solid #113689;
    color: #113689;
}

/********** 修改分配信息对话框 **********/
.changeAllot-dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.changeAllot-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.changeAllot-close {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 35px;
    cursor: pointer;
}
.changeAllot-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    padding: 40px;
    transform: translate(-50%, -50%);
    background-color: #fff;
}
.changeAllot-form {
    margin-top: 20px;
}
.changeAllot-form .form-group {
    margin-bottom: 10px;
}
.changeAllot-form .form-item {
    height: 60px;
}
.changeAllot-form .form-tips {
    margin-top: 0;
}
.submitChangeAllot {
    display: block;
    width: 180px;
    height: 40px;
    background-color: #113689;
    color: #fff;
    text-align: center;
    line-height: 40px;
    margin: 20px auto;
    font-size: 16px;
    cursor: pointer;
}