input:disabled, select:disabled {
    background-color: #DDDDDD;
    cursor: not-allowed;
}
input:focus, select:focus {
    border: 1px solid #565656;
}
/********** 发票内容 **********/
.invoice-wrapper {
    overflow: hidden;
}
.invoice-detail {
    width: calc(100% - 250px);
    width: -wekit-calc(100% - 250px);
    width: -moz-calc(100% - 250px);
}
.invoice-title-box {
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    margin-bottom: 20px;
}
.invoice-title-box > .container,
.invoice-info > .container {
    width: 97%;
}
.invoice-info {
    background-color: #fff;    
    /* display: none; */
}
.invoice-desc {
    height: 40px;
    line-height: 40px;
}

/********** 添加发票信息 **********/
.add-invoice {
    background-color: #fff;
    /* display: none; */
}
.invoice-title-bg {
    width: 97%;
    height: 40px;
    background-color: #EEEEEE;
    margin: 0 auto;
}
.add-invoice > .container {
    width: 95%;
    margin-top: -40px;
}
.invoice-caption {
    height: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}
.add-invoice-form {
    width: 95%;
    margin: 0 auto;
}
.form-group {
    overflow: hidden;
    margin-bottom: 15px;
}
.hide {
    display: none;
}
.form-item {
    width: 45%;
    height: 65px;
}
.invoice-input, .invoice-select {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #D3D3D3;
    background-color: #F8F8F8;
    color: #565656;
    border-radius: 2px;
}
.form-tips {
    height: 20px;
    line-height: 20px;
    margin-top: 5px;
    font-size: 12px;
    color: red;
    display: none;
}
.submitInvoice {
    display: block;
    width: 180px;
    height: 40px;
    background-color: #113689;
    color: #fff;
    text-align: center;
    line-height: 40px;
    margin: 30px auto 50px;
    font-size: 16px;
    cursor: pointer;
}

/********** 有发票的情况 **********/
.invoice-content {
    background-color: #fff;
    padding-bottom: 50px;
}
.invoice-panel {
    width: 97%;
    margin: 0 auto;
    border: 1px solid #EEEEEE;
    border-top: 0;
}
.invoice-panel-title {
    height: 40px;
    background-color: #EEEEEE;
    padding: 0 1%;
    line-height: 40px;
}
.invoice-panel-body {
    width: 97%;
    margin: 0 auto;
}
.invoice-group {
    overflow: hidden;
    margin-bottom: 15px;
}
.invoice-table {
    margin: 25px 0;
}
.invoice-group .invoice-item:nth-child(odd) {
    /* width: 520px; */
    width: 60%;
}
.invoice-label, .invoice-itemval {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}
.invoice-label {
    width: 120px;
    text-align: right;
    color: #565656;
}
.invoice-itemval {
    color: #181818;
}
.changeInvoiceBtn {
    width: 110px;
    height: 35px;
    line-height: 35px;
    margin-right: 50px;
    cursor: pointer;
    font-size: 16px;
    background-color: #113689;
    color: #fff;
    border-radius: 2px;
}

/********** 快递信息 **********/
.express {
    padding-bottom: 50px;
    background-color: #fff;
}
.express-panel {
    width: 97%;
    margin: 0 auto;
    border: 1px solid #EEEEEE;
    border-top: 0;
}
.express-title {
    height: 40px;
    background-color: #EEEEEE;
    padding: 0 1%;
    line-height: 40px;
}
.express-panel-body {
    width: 97%;
    margin: 0 auto;
}
.express-list {
    margin: 25px 0;
    font-size: 16px;
}
.express-item:not(:last-child) {
    margin-bottom: 15px;
}
.express-label, .express-itemval {
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
}
.express-label {
    width: 120px;
    text-align: right;
}
.express-attention {
    height: 20px;
    line-height: 20px;
    color: #E54144;
    margin: 10px 0 30px;
    text-indent: 40px;
}
.contact {
    text-align: right;
    margin-top: 10px;
    display: none;
}

/********** 修改发票 **********/
.changeInvoice {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.changeInvoice-bg {
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.changeInvoice-close {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 50px;
    cursor: pointer;
}
.changeInvoice-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -50%);
}
.changeInvoice-title {
    font-size: 16px;
    margin-bottom: 20px;
}
.submitChange {
    display: block;
    width: 180px;
    height: 40px;
    background-color: #113689;
    color: #fff;
    text-align: center;
    line-height: 40px;
    margin: 30px auto;
    font-size: 16px;
    cursor: pointer;
}